---
layout: null
---
/*
 * @Author: Conghao Wong
 * @Date: 2024-12-24 14:59:43
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2024-12-24 15:17:02
 * @Github: https://cocoon2wong.github.io
 * Copyright 2024 Conghao Wong, All Rights Reserved.
 */

.card {
    margin-bottom: 15px;
    border: 1px solid #c4c6c7a0;
    border-radius: 15px;
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}
